---
title: 社区
---

<!Doctype html>
<html id="community">
{% include head-header.html %}

<section id="hero" class="light-text">
	<h1>社区</h1>
</section>

<section id="mainContent">
	<main>
		<div class="content">
			<h3>确保每个人可以随时随地很好地使用 Kubernetes </h3>
			<p>与我们的 <a href="http://slack.k8s.io/">Slack Kubernetes 社区联系</a>
			<p>或者关注 <a href="http://slack.k8s.io/">Slack</a>，或者 Google 的 <a href="https://groups.google.com/forum/#!forum/kubernetes-dev">Kubernetes-dev</a> 小组。
				在社区每周都会有一些视频会议。
				<a href="https://groups.google.com/forum/#!forum/kubernetes-community-video-chat">点击获取参加资格</a>。
				</p>
		</div>
		<div class="content">
			<h3>SIGs</h3>
			<p>Have a special interest in how Kubernetes works with another technology?  See our ever growing
				<a href="https://github.com/kubernetes/kubernetes/wiki/Special-Interest-Groups-(SIGs)">lists of SIGs</a>,
				from AWS and Openstack to Big Data and Scalability, there’s a place for you to contribute and instructions
				for forming a new SIG if your special interest isn’t covered (yet).</p>
		</div>
		<div class="content">
			<h3>Events</h3>
			<div id="calendarWrapper">
				<iframe src="https://calendar.google.com/calendar/embed?src=nt2tcnbtbied3l6gi2h29slvc0%40group.calendar.google.com&ctz=America/Los_Angeles"
				        frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
	</main>
</section>

<section id="talkToUs">
	<main>
		<h3>告诉我们!</h3>
		<h4>我们很愿意听取你的意见，<br> 我们会让它变得更好。</h4>
		<div id="bigSocial">
			<div>
				<a href="https://twitter.com/kubernetesio">@kubernetesio</a>
				<p>获取最新消息.</p>
			</div>
			<div>
				<a href="https://github.com/kubernetes/kubernetes">Github 项目</a>
				<p>下载，并贡献源代码。</p>
			</div>
			<div>
				<a href="http://slack.k8s.io/">#kubernetes-users</a>
				<p>通过 Slack 分享你的想法，是最好的途径。</p>
			</div>
			<div>
				<a href="http://stackoverflow.com/questions/tagged/kubernetes">Stack Overflow</a>
				<p>问答论坛是最好的帮助社区.</p>
			</div>
		</div>
	</main>
</section>

{% include footer.html %}

</body>
</html>
