---
title: 社区
---

<!Doctype html>
<html id="community">
{% include head-header.html %}

<section id="hero" class="light-text">
	<h1>社区</h1>
</section>



<section id="mainContent">
	<main>
		<div class="content">
			<h3>确保每个人可以随时随地很好地使用 Kubernetes </h3>
			<p>关注 <a href="http://slack.k8s.io/">Slack</a>，或者 Google 的 <a href="https://groups.google.com/forum/#!forum/kubernetes-dev">Kubernetes-dev</a> 小组。
				在社区每周都会有一些视频会议。
				<a href="https://groups.google.com/forum/#!forum/kubernetes-community-video-chat">点击获取参加资格</a>。
				</p>
		</div>
		<div class="content">
			<h3>兴趣小组</h3>
			<p>是否感兴趣 Kubernetes 如何与其他技术结合?  查看我们的<a href="https://github.com/kubernetes/kubernetes/wiki/Special-Interest-Groups-(SIGs)">兴趣小组名单</a>,
				如果(还)不会影响你的利益，你可以在兴趣小组做出你的贡献，无论是 AWS 和 Openstack 还是大数据处理或者群集的扩展性方面。
			</p>
		</div>
		<div class="content">
			<h3>客户案例</h3>
			<div class="company-logos">
				<img src="/images/community_logos/zulily_logo.png">
				<img src="/images/community_logos/we_pay_logo.png">
				<img src="/images/community_logos/viacom_logo.png">
				<img src="/images/community_logos/goldman_sachs_logo.png">
				<img src="/images/community_logos/ebay_logo.png">
				<img src="/images/community_logos/box_logo.png">
				<img src="/images/community_logos/wikimedia_logo.png">
				<img src="/images/community_logos/soundcloud_logo.png">
				<img src="/images/community_logos/new_york_times_logo.png">
				<img src="/images/community_logos/kabam_logo.png">
			</div>
		</div>
		<div class="content">
			<h3>活动</h3>
			<div id="calendarWrapper">
				<iframe src="https://calendar.google.com/calendar/embed?src=nt2tcnbtbied3l6gi2h29slvc0%40group.calendar.google.com&ctz=America/Los_Angeles"
				        frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
		<div class="content">
			<h3>合作伙伴</h3>
			<p>我们正在与广泛的 Kubernetes 贡献群体合作，使之成为更强大，更丰富，同时帮助 Kubernetes 生态系统支持一系列平台，无论是开放源代码的解决方案还是高端技术市场.</p>
			<div class="partner-logos">
        <a href="https://coreos.com/kubernetes"><img src="/images/community_logos/core_os_logo.png"></a>
				<a href="https://deis.com"><img src="/images/community_logos/deis_logo.png"></a>
				<a href="https://sysdig.com/blog/monitoring-kubernetes-with-sysdig-cloud/"><img src="/images/community_logos/sysdig_cloud_logo.png"></a>
				<a href="https://puppet.com/blog/managing-kubernetes-configuration-puppet"><img src="/images/community_logos/puppet_logo.png"></a>
				<a href="https://www.citrix.com/blogs/2016/07/15/citrix-kubernetes-a-home-run/"><img src="/images/community_logos/citrix_logo.png"></a>
				<a href="http://wercker.com/workflows/partners/kubernetes/"><img src="/images/community_logos/wercker_logo.png"></a>
				<a href="http://rancher.com/kubernetes/"><img src="/images/community_logos/rancher_logo.png"></a>
				<a href="https://www.openshift.com/"><img src="/images/community_logos/red_hat_logo.png"></a>
				<a href="https://tectonic.com/press/intel-coreos-collaborate-on-openstack-with-kubernetes.html"><img src="/images/community_logos/intel_logo.png"></a>
				<a href="https://elasticbox.com/kubernetes/"><img src="/images/community_logos/elastickube_logo.png"></a>
				<a href="https://platform9.com/blog/containers-as-a-service-kubernetes-docker"><img src="/images/community_logos/platform9_logo.png"></a>
				<a href="http://www.appformix.com/solutions/appformix-for-kubernetes/"><img src="/images/community_logos/appformix_logo.png"></a>
				<a href="http://kubernetes.io/docs/getting-started-guides/dcos/"><img src="/images/community_logos/mesosphere_logo.png"></a>
				<a href="http://docs.datadoghq.com/integrations/kubernetes/"><img src="/images/community_logos/datadog_logo.png"></a>
				<a href="https://apprenda.com/kubernetes-support/"><img src="/images/community_logos/apprenda_logo.png"></a>
			</div>
		</div>
	</main>
</section>

<section id="talkToUs">
	<main>
		<h3>告诉我们!</h3>
		<h4>我们很愿意听取你的意见，<br> 我们会让它变得更好。</h4>
		<div id="bigSocial">
			<div>
				<a href="https://twitter.com/kubernetesio">@kubernetesio</a>
				<p>获取最新消息.</p>
			</div>
			<div>
				<a href="https://github.com/kubernetes/kubernetes">Github 项目</a>
				<p>下载，并贡献源代码。</p>
			</div>
			<div>
				<a href="http://slack.k8s.io/">#kubernetes-users</a>
				<p>通过 Slack 分享你的想法，是最好的途径。</p>
			</div>
			<div>
				<a href="http://stackoverflow.com/questions/tagged/kubernetes">Stack Overflow</a>
				<p>问答论坛是最好的帮助社区.</p>
			</div>
		</div>
	</main>
</section>

{% include footer.html %}

</body>
</html>
