---
---

<!Doctype html>
<html id="home">

{% include head-header.html %}

<!--  HERO  -->
<section id="hero" class="light-text">
	<main>
		<div id="headlineWrapper">
			<h1>生产级别的容器编排管理</h1>
			<h5>容器群集的自动化部署，扩容，以及运维</h5>
		</div>
		<a href="/docs/tutorials/kubernetes-basics/" id="quickstartButton" class="button">尝试我们的互动教程</a>
	</main>
	<!--<div id="vendorStrip" class="light-text">-->
		<!--<img src="images/logos/viacom_logo.png">-->
		<!--<img src="images/logos/soundcloud_logo.png">-->
		<!--<img src="images/logos/redhat_logo.png">-->
		<!--<img src="images/logos/wepay_logo.png">-->
		<!--<img src="images/logos/verizon_logo.png">-->
	<!--</div>-->
</section>

<!--  OCEAN NODES  -->
<section id="oceanNodes">
	<main>
		<div class="image-wrapper"><img src="images/flower.png"></div>
		<div class="content">
			<h3><a href="docs/whatisk8s">Kubernetes</a> 是一个自动部署，扩容，以及运维容器群集的开源系统。</h3>
			<p>他可以方便的让一组容器作为一个单元，来管理以及查找， Kubernetes 基于 <a href="http://queue.acm.org/detail.cfm?id=2898444">Google 生产环境的15年运维经验</a>，
            结合了社区中各项最佳设计和实践而构建的。</p>
		</div>
	</main>
	<main>
		<div class="image-wrapper"><img src="images/scalable.png"></div>
		<div class="content">
			<h4>Planet Scale</h4>
			<p>允许在一周内运行数十亿相同规则的容器的设计， Kubernetes 可以不用增加你的运营团队而实现容器群集的扩容。</p>
		</div>
	</main>
	<main>
		<div class="image-wrapper"><img src="images/blocks.png"></div>
		<div class="content">
			<h4>Never Outgrow</h4>
			<p>无论是本地测试环境，还是全球性企业环境, 无论你的需求是多么复杂，Kubernetes 可以保证应用程序一致性的前提，让你灵活的增加你的应用。</p>
		</div>
	</main>
	<main>
		<div class="image-wrapper"><img src="images/suitcase.png"></div>
		<div class="content">
			<h4>随处运行</h4>
			<p>Kubernetes 是一个让你能随意部署到私有云，公有云，或者混合环境，让你轻松分配负载均衡的开源系统。</p>
		</div>
	</main>
</section>

<section id="video">
	<div class="light-text">
		<h2>Kubernetes: 终于&hellip; 一个真正的云平台</h2>
		<p>Sam Ghods，Box的联合创始人和服务架构师，给出了一段关于 Kubernetes 的热情的谈话, 我们头一次有一个通用的接口，真正的可以构建部署的工具。</p>
		<button id="desktopShowVideoButton" onclick="kub.showVideo()">Watch Video</button>
	</div>
	<button id="mobileShowVideoButton" onclick="kub.showVideo()"></button>
</section>

<section id="features">
	<main>
		<h3 class="center">Kubernetes 特征</h3>

		<div class="feature-box">
			<div>
				<h4><a href="/docs/user-guide/compute-resources/">自动封装</a></h4>
				<p>在不损失可用性的同事，根据资源需求和其他约束自动地限制容器。 为了提高利用率，和节省更多资源，而平均分配，充分负载。</p>
			</div>
			<div>
				<h4><a href="/docs/user-guide/replication-controller/#what-is-a-replication-controller">自愈</a></h4>
				<p>重启容器失败，节点死掉时会替换并且重新安排容器到其他节点，关闭对自定义健康检查没响应的容器，直到服务准备好为止不会给用户发送数据。</p>
			</div>
		</div>

		<div class="feature-box">
			<div>
				<h4><a href="/docs/user-guide/horizontal-pod-autoscaling/">横向扩容</a></h4>
				<p>用一个简单的命令来拓展或缩减你的容器, 使用 UI 或者根据 CPU 使用率来自动分配.</p>
			</div>
			<div>
				<h4><a href="/docs/user-guide/services/">服务发现和负载平衡</a></h4>
				<p>无需使用陌生的服务发现机制来修改你的应用. Kubernetes 会给容器分配 IP 以及一个 DNS 名称，并且很好地负载均衡他们。</p>
			</div>
		</div>

		<div class="feature-box">
			<div>
				<h4><a href="/docs/user-guide/deployments/#what-is-a-deployment">自动化部署与回滚</a></h4>
				<p>Kubernetes 会逐步部署你的应用程序，或者其他配置，同时监控程序运行状况，以确保不会同时关闭所有实例。 如果出现问题, Kubernetes 回滚你的修改。 是一个具有增长性的优秀的部署解决方案。</p>
			</div>
			<div>
				<h4><a href="/docs/user-guide/secrets/">安全</a> ， <a href="/docs/user-guide/configmap/">配置</a> 管理</h4>
				<p>在不重建镜，不暴露你的堆栈配置的密匙的前提，部署和更新安全策略，以及配置应用程序。</p>
			</div>
		</div>

		<div class="feature-box">
			<div>
				<h4><a href="/docs/user-guide/persistent-volumes/">存储器</a></h4>
				<p>自动挂载您所选择的存储系统，无论是从本地储存，或是像 <a href="https://cloud.google.com/storage/">GCP</a> ，<a href="http://media.amazonwebservices.com/AWS_Storage_Options.pdf">AWS</a>，
					一样的公共云提供商，网络储存系统。例如 NFS，iSCSI，Gluster， Ceph，Cinder，或者 Flocker。</p>
			</div>
			<div>
				<h4><a href="/docs/user-guide/jobs/">执行批处理</a></h4>
				<p>除了服务，Kubernetes也可以管理你的批处理和 CI 的工作，在必要时，替换掉失败的容器。</p>
			</div>
		</div>

	</main>
</section>

<section id="talkToUs">
	<main>
		<h3>案例</h3>
		<div id="caseStudiesWrapper">
			<div>
				<p>使用 Kubernetes 重塑世界上最大的教育公司</p>
				<a href="/case-studies/pearson/">更多</a>
			</div>
			<div>
				<p>Kubernetes 在 Box: 最快速度的微服务</p>
				<a href="https://blog.box.com/blog/kubernetes-box-microservices-maximum-velocity/">更多</a>
			</div>
			<div>
				<p>eBay 宣布拥抱容器，将全面整合 Kubernetes 和 OpenStack</p>
				<a href="http://www.nextplatform.com/2015/11/12/inside-ebays-shift-to-kubernetes-and-containers-atop-openstack/">更多</a>
			</div>
			<div>
				<p>从自主研发的“集群”迁移到 Kubernetes</p>
				<a href="https://www.youtube.com/watch?v=6XGUTu3WhBw">观看视频</a>
			</div>
		</div>

		<!--<div id="bigSocial">-->
			<!--&lt;!&ndash;<div>&ndash;&gt;-->
				<!--&lt;!&ndash;<a href="https://youtu.be/OLwzSHBtxhI">Watch the video</a>&ndash;&gt;-->
				<!--&lt;!&ndash;<p>Creating Next Generation Kubernetes Infrastructure at Viacom</p>&ndash;&gt;-->
			<!--&lt;!&ndash;</div>&ndash;&gt;-->
			<!--<div>-->
				<!--<p>Using Kubernetes to reinvent the world’s largest educational company</p>-->
				<!--<a href="/case-studies/pearson/">Read more</a>-->
			<!--</div>-->
			<!--<div>-->
				<!--<p>Kubernetes at Box: Microservices at Maximum Velocity</p>-->
				<!--<a href="https://blog.box.com/blog/kubernetes-box-microservices-maximum-velocity/">Read more</a>-->
			<!--</div>-->
			<!--<div>-->
				<!--<p>Inside eBay’s shift to Kubernetes and containers atop OpenStack</p>-->
				<!--<a href="http://www.nextplatform.com/2015/11/12/inside-ebays-shift-to-kubernetes-and-containers-atop-openstack/">Read the story</a>-->
			<!--</div>-->
			<!--<div>-->
				<!--<p>Migrating from a homegrown ‘cluster’ to Kubernetes</p>-->
				<!--<a href="https://www.youtube.com/watch?v=6XGUTu3WhBw">Watch the video</a>-->
			<!--</div>-->
		<!--</div>-->
		<h5 style="text-align: center"><a href="/case-studies/" style="color: #3371E3; font-weight: 400">查看所有研究案例</a></h5>
	</main>
</section>


{% include footer.html %}


<div id="videoPlayer">
	<iframe data-url="https://www.youtube.com/embed/of45hYbkIZs?autoplay=1" frameborder="0" allowfullscreen></iframe>
	<button id="closeButton"></button>
</div>

<style>
	.cse .gsc-control-cse, .gsc-control-cse {
		padding: 0;
	}
</style>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-36037335-10', 'auto');
	ga('send', 'pageview');
</script>
<!-- Start of AnswerDash script
<script>var AnswerDash;!function(e,t,n,s,a){if(!t.getElementById(s)){var i,r=t.createElement(n),c=t.getElementsByTagName(n)[0];e[a]||(i=e[a]=function(){i.__oninit.push(arguments)},i.__oninit=[]),r.type="text/javascript",r.async=!0,r.src="https://p1.answerdash.com/answerdash.min.js?siteid=756",r.setAttribute("id",s),c.parentNode.insertBefore(r,c)}}(window,document,"script","answerdash-script","AnswerDash");</script>
<!-- End of AnswerDash script -->
</body>
</html>
