---
title: Partners
---

<!Doctype html>
<html id="partners" class="gridPage">
{% include head-header.html %}

<section id="hero" class="light-text">
	<h1>Kubernetes 合作伙伴</h1>
	<h5>壮大 Kubernetes 的生态系统。</h5>
	<!--<h5></h5>-->
</section>

<section id="users">
	<main>
		<h5>我们正与广泛的贡献 Kubernetes 代码的合作伙伴一起工作，使其更强大和更丰富。这些合作伙伴创造了一个充满活力的 Kubernetes 生态系统，支持一系列平台，从开源解决方案到市场领先的技术。合作伙伴可以通过填写和提交合作伙伴请求表单，将他们的服务和产品添加到此页面。</h5>
		<h3>技术伙伴</h3>
		<div id="isvContainer"></div>
		<h3>服务伙伴</h3>
		<div id="servContainer"></div>
	</main>
</section>

{% include footer.html %}
{% include case-study-styles.html %}

<style>
	{% include partner-style.css %}
</style>

<script>
	{% include partner-script.js %}
</script>

</body>
</html>
